<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div class="lbx">
    <div class="sbx">
        <h2 class="header1">Registered Users</h2>

        <table style="width:100%; color:white; margin-top:20px;">
            <tr>
                <th>Username</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>

            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.gender or 'N/A' }}</td>
                <td>{{ user.birthday or 'N/A' }}</td>
                <td>{{ user.phone or 'N/A' }}</td>
                <td>{{ user.address or 'N/A' }}</td>
            </tr>
            {% endfor %}
        </table>

        <a href="{{ url_for('index') }}">
            <button class="submit">Back to Register</button>
        </a>
    </div>
</div>
</body>
</html>
